<app-header></app-header>
   <router-outlet></router-outlet>

<!-- <app-item-detail></app-item-detail>  
   <app-comment></app-comment>   -->



<!-- <h2>Digit</h2>

<button (click)="increment()">Increment</button> -->

<!-- <input type="text" placeholder="input here" #val> 
<button  (click)="submit(val)">Submit</button>

<app-child *ngIf="!isExist" [myNewNumber]="value">  </app-child>

<button (click)="DestroyMe()">Destroy child component</button> -->

<!-- <button (click)="destroy()"></button> -->
<!-- <button (click)="decrement()">Decrement</button>

<button (click)="updateValue()">Update Name</button> -->