<div class="" >
  <nav class="navbar navbar-expand-md navbar-custom fixed-top header-block">
    <a (click)="homePage()"> <img class="headerIcon" src="/lh-cif-ui/assets/images/LhLogo.png" alt="iCIF Logo"> </a>
    <a class="web-heading"> <img src="/lh-cif-ui/assets/images/iCIFLogo.png" alt="iCIF Logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

      <div class="form-inline search-field">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input id="csdlSearchField" class="form-control mr-sm-2" type="text" placeholder="Search" (keyup.enter)="onEnter()"
          [(ngModel)]="value" />
      </div>

      <ul class="navbar-nav ml-auto" *ngIf="content">
        <li class="nav-item">
          <span class="user-name">{{content.userName}}</span>
          <img src="{{content.photo}}" class="user-image" (click)="profileClick()" alt="User Image"/>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!content">
        <li class="nav-item">
          <span class="user-name">Loading...</span>
          <i class="fa fa-user user-profile" (click)="profileClick()" aria-hidden="true"></i>
        </li>
      </ul>

      <!-- <app-submenu *ngIf="showSubmenu"></app-submenu> -->

    </div>
  </nav>
</div>