.navbar-custom{
    background-color: #0000;
    /* padding: 8px; */
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom: 1% !important;
    padding-top: 1% !important;
    border-top: 1px solid #f3f3f3;
    border-bottom: 2px solid #ccc;
    position: relative;
}

img.headerIcon{
    height:45px !important;
}

.header-block .search-field{
    width: 75%;
    position: relative
}
.header-block .search-field i{
    position: absolute;
    font-size: 20px;
    padding: 0px 10px;
}
.header-block .search-field input{
    width: 100%;
    padding: 25px;
    border: 1px solid #979797;
    border-radius: 5px;
    padding-left: 40px;
}
.header-block .web-heading{
    width: 12%;
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 700;
    letter-spacing: .8px;
    text-align: center;
   
}
.header-block .user-profile{
    padding: 13px 18px;
    background: #f3f3f3;
    border-radius: 50%;
    border: 1px solid #adb5bd;
}

.form-inline.search-field {
    float: left;
}

/* div {
    padding-left: 12%;
    padding-right: 12%;
} */

a.web-heading {
   
    padding-left: 2px;
}

div#collapsibleNavbar {
    /**padding-left: 36px;**/
    /**padding-right: 0px;**/
}


.form-inline.search-field {
    padding-left: 0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100% !important;
}

img.user-image {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.user-profile {
    cursor: pointer;
}

span.user-name {
    padding-right : 10px;
}