/* You can add global styles to this file, and also import other style files */

.main-block{
    /* padding-top: 10%; */
    /*background: #f1f3f6;*/
    /* padding-bottom: 5%; */
}
.w-100{
    width: 100%;
}