.dashboard-block .out-block{
    display: flex;
    align-items: center;
}
.dashboard-block .out-block .heading{
	font-size: 25px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
}
.dashboard-block .out-block .link-block{
    padding: 1px 3px;
    background: #0072b1;
    border: 1px solid #0072b1;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}
.dashboard-block .bottom-block{
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.item-list .icon-block i{
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: red;
}
.item-list .right-block .like-block{
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}
.item-list .right-block .like-block i{
    font-size: 30px;
    padding-top: 10px;
    color: #8b8b8b;
}
.item-list .right-block .like-block p{
    padding: 5px;
    margin-bottom: 0px;
    color: #3d3d3d;
    font-weight: 500;
}
.item-list .right-block .view-block{
    display: flex;
    flex-direction: column;
    align-items: center;
        padding-top: 6px;
}

.item-list .right-block .view-block p{
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px;
}
.item-list .right-block .view-block .view-text{
    font-size: 10px;
}

.item-list .item-block .item-heading{
	font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
    /**max-height: 25px;**/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding-bottom: 10px !important;
}

.item-list .item-block .sub-heading{
	font-size: 13px;
    color: #8b8b8b;
    letter-spacing: 0.2px;
    max-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    /**white-space: nowrap;**/
}
.item-list .item-block .option{
    padding-top: 8px;
}

.item-list .item-block .option button{
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #3d3d3d;
    margin-right: 2px;
}



.item-list .border-line{
    color: #8b8b8b;
}

.col-2.col-sm-2.icon-block {
    float: left;
}


a {
    width: 82%;
}



.col-sm-3 {
    flex: 0 0 18%;
    max-width: 18%;
}


img {
    /**width: 55px;**/
    /**height: 55px;**/
    margin-top: 18px;
    /**margin-left: -15px;**/
    border-radius: 50%;
}

.container.main-block.dashboard-block {
    max-width: 100%;
	/**padding-top: 2%;**/
    padding-left: 5%;
    padding-right: 5%;	
    margin-top:30px;
}

/**.row {**/
/**    margin: 13px;**/
/**}**/

.bottom-block.card {
    margin-bottom: 25px;
    height: 90%;
    overflow: hidden;
}

.btn-default{
	padding: 0px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.3px;
	color: #3d3d3d;
	margin-right: 2px;
}

.col-10.col-sm-10 {
    margin-left: 0px;
    padding-right: 0px;
    padding-right: 0px;
    display: inline-block;
}

.col-xs-12 {
    margin-left: 15px;
}

.col-2.col-sm-2.icon-block {   
    display: inline-block;
}

.tagsSection {
    /**margin-left: 0px; 
    margin-top: 10px;**/
    margin-left: 15%;
    /**margin-right: 5%;**/
    max-height: 28px;
    overflow: hidden;    
}