
.add-audit-print{
	display:none;
}

.logo-printable{
	display:none !important;
}

.sa-button-container button.confirm {
	background-color: #006982 !important;
}

.sa-button-container button.cancel {
	/* background-color:#006982 !important; */
	
}

.logo {
	padding: 10px;
}

.error-content>p {
	margin-top: 20px;
}

.error-content>p>a {
	text-decoration: underline;
}

.bg-operation-time {
	background-color: #6E5A55 !important;
	color: #fff !important;
}

.bg-operation-user {
	background-color: #877873 !important;
	color: #fff !important;
}

.fa-pad-custom {
	padding-left: 10px;
}

.fa-pad-icon {
	padding-top: 16px;
}

.wrapper {
	overflow: visible;
	padding-bottom: 30px;
}

.no-box-shadow {
	box-shadow: none;
	border-top: none;
}

.page-title {
	font-size: 18px;
	padding-top: 63.5px;
	padding-left: 25px;
}

.multiLingual {
	padding-top: 20px;
	padding-right: 10px;
}

.multiLingual .form-control {
	border-radius: 5px;
}

.footer-copyright {
	font-weight: bold;
	font-size: 0.92857em;
	color: #5F5046;
	text-align: right;
}

.multiLingual a {
	z-index: 999999;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
	background-color: #6E5A55 !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	background: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 1px solid #877873;
	background-color: #6E5A55;
	font-weight: bold;
	color: white;
}

/* ******************************* COMMON *********************** */
body {
	font-size: 14px;
	color: #333;
}

a img {
	border: none;
}

a, a:hover, a:active, a:focus {
	outline: none !important;
	text-decoration: none !important;
	color: #006982;
}

button:focus {
	outline: 0;
}

.ui-widget {
	font-size: 14px;
}

.bootstrap-filestyle >span> label {
	background-color:#fff !important;
}
.form-control {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sweet-alert button .confirm {
	background-color: #4D9A6C;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.control-label {
	font-weight: normal;
}

textarea {
	resize: vertical;
	/* user can resize vertically, but width is fixed */
}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
	top: 70%;
}

.ui-widget-header {
	border: 1px solid #6e5a55;
	background: #877873;
	color: #fff;
	font-weight: bold;
}

/* .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid #6e5a55;
	background: #877873 !important;
	color: #fff !important;
} */

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid #6e5a55;
	background: none;
	color: #363636;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	color: #6e5a55;
}

.ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover,
	.ui-widget-header .ui-state-default:hover {
	border: 1px solid #6e5a55;
	background: #877873 !important;
	color: #fff !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	color: white !important;
}

.control-label {
	font-weight: normal;
}

.control-label:after {
	content: "*";
	color: red;
}

.djs-container .highlight .djs-visual>:nth-child(1) {
	fill: green !important;
	opacity: 0.4;
	pointer-events: none;
}

.highlight:not (.djs-connection ) .djs-visual>:nth-child(1) {
	fill: green !important;
	/* color elements as green */
	/* background-color: green; /* color elements as green */
	opacity: 0.4;
	pointer-events: none;
}

.main-title {
	font-size: 30px;
}

.sweet-alert button .confirm {
	background-color: #4D9A6C;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.control-label {
	font-weight: normal;
}

.control-label:after {
	content: "*";
	color: red;
}

textarea {
	resize: vertical;
	/* user can resize vertically, but width is fixed */
}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
	top: 70%;
}

.djs-container .highlight .djs-visual>:nth-child(1) {
	fill: green !important;
	opacity: 0.4;
	pointer-events: none;
}

.highlight:not (.djs-connection ) .djs-visual>:nth-child(1) {
	fill: green !important;
	/* color elements as green */
	/* background-color: green; /* color elements as green */
	opacity: 0.4;
	pointer-events: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
	table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
	background-color: #6E5A55;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
	table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before
	{
	background-color: #877873;
}

.dataTables_menu_padding {
	padding-left: 0px;
	padding-right: 0px;
}

.dataTables_length select{
	    width: auto;
	    margin-left:2px;
}
.dataTables_length label{
	    line-height: 30px;
}

.dataTables_wrapper .totalEntries{
 line-height: 20px;
}
 
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height: auto;
}

.navbar-nav>.user-menu>.dropdown-menu {
	width: 320px;
}

.btn-primary {
	background-color: #877873;
	border-color: #6e5a55;
}

.txtLeg {
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

#linkType_chosen, #folder_chosen, #section_chosen, #section_chosen,
	#department_chosen {
	width: 100% !important;
}

.main-header {
	z-index: 1000 !important;
}

.chosen-container {
	width: 100% !important;
}

.list-group-unbordered>.list-group-item {
	border: 0;
	padding: 0;
}

b, strong {
	font-weight: 600 !important;
}

.icon-cloud {
	color: #3399ff;
	font-size: 30px;
}

.drive-cloud {
	color: #3399ff;
	font-size: 20px;
}

.chosen-container .chosen-results li.group-result,.chosen-container .chosen-results li.group-result:hover{
	 font-weight: bold !important;
	 background-color: #eeeeee !important;
	 color: #000000 !important;
}

.link-div{
	padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 30px -6px #999;
    cursor: pointer;
}

/* ************************** Layout CSS Top Navigation **************************** */
.layout-top-nav .wrapper {
	padding-bottom: 0px;
	overflow: hidden;
}

.layout-top-nav .main-header {
	z-index: 1030;
}

.layout-top-nav .content-wrapper, .layout-top-nav .right-side {
	margin: 5px 15px -10px 15px;
}

.layout-top-nav .main-footer {
	min-width: 100%;
	max-height: 55px;
}

.layout-top-nav .navbar-custom-menu {
	padding-top: 5px;
	padding-right: 10px;
}

.layout-top-nav .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
	top: 55px;
}

.layout-top-nav .main-header .logo {
	max-height: 55px;
	padding-top: 5px;
	width: auto;
}

.layout-top-nav .main-header .navbar-brand {
	padding: 0px;
}

.layout-top-nav .user-menu .dropdown-toggle {
	min-height: 50px;
}

.layout-top-nav .navbar-toggle {
	margin-top: 5px;
}

.layout-top-nav .nav-title {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	padding-top: 24px;
}

.layout-top-nav .lang {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.layout-top-nav .modal-footer {
	margin-top: 10px;
}

.layout-top-nav .modal-body {
	padding-bottom: 10px;
}

.layout-top-nav .navbar-custom-menu .navbar-nav>li>a {
	margin-left: 5px;
	padding-bottom: 5px !important;
}

.layout-top-nav .dataTable .search_init, .layout-top-nav .dataTable .disp
	{
	width: 100% !important;
	vertical-align: middle;
}

/* **************************  BROWN THEME LH ************************** */

/*Select2 Dropdown */
.skin-brown .select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #6e5a55 !important;
}

.skin-brown .select2-container--default .select2-results__option[aria-selected=true],
	.skin-brown .select2-container--default .select2-results__option[aria-selected=true]:hover
	{
	color: #fff;
}

.skin-brown .select2-container--default .select2-results__option[aria-selected=true]
	{
	background-color: #877873;
}

.skin-brown .select2-container--default .select2-selection--single,
	.skin-brown .select2-selection .select2-selection--single {
	border-radius: 4px;
}

/*Select2 Dropdown */
.skin-brown select.form-control+.chosen-container .chosen-results li:not(.group-result):hover,
	.skin-brown select.form-control+.chosen-container .chosen-results li.active-result:hover,
	.skin-brown select.form-control+.chosen-container .chosen-results li:not(.group-result).highlighted
	{
	color: #FFF;
	text-decoration: none;
	background-color: #877873 !important;
	background-image: none;
}

.skin-brown select.form-control.option:hover {
	outline: none;
	border: none;
	box-shadow: none;
	background-color: #ef8383 !important;
}

.skin-brown .main-header .logo {
	background-color: #fff;
}

.skin-brown .main-header li.user-header {
	background-color: #877873;
	color: #fff;
}

.skin-brown .main-header .navbar {
	background-color: #877873;
}

.skin-brown .btn-primary {
	background-color: #877873 !important;
	border-color: #6e5a55;
	color: white !important;
}

.dropdown-menu>li>a {
	color: #5e5045 !important;
}

.skin-brown .user-menu .dropdown-toggle {
	color: #fff;
}

.skin-brown .opco-name {
	-webkit-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	display: block;
	float: left;
	min-height: 50px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	width: 270px;
	padding: 0 10px;
	font-weight: 300;
	overflow: hidden;
	background-color: #6e5a55;
	color: #fff;
	padding-left: 15px;
}

.skin-brown .custom-link-highlight {
	background-color: rgba(153, 153, 153, 0.05) !important;
	border-bottom: 5px #5d504a solid;
	color: #5e5045 !important;
	border-radius: 6px !important;
}

.skin-brown .navbar-nav .open>a:hover, .skin-brown .navbar-nav .open>a:active,
	.skin-brown .navbar-nav .open>a:focus {
	background-color: rgba(153, 153, 153, 0.42) !important;
	border-bottom: 5px #5d504a solid;
	color: #5e5045 !important;
	border-radius: 3px !important;
}

.skin-brown .user-menu .dropdown-toggle {
	background: #877873;
}

.skin-brown .nav .open>a, .skin-brown .nav .open>a:focus, .skin-brown .nav .open>a:hover
	{
	border-color: #fff !important;
}

.skin-brown .user-menu .dropdown-toggle {
	background-color: #fff;
	color: #877873;
}

.skin-brown .navbar-nav>li>a:active, .skin-brown .navbar-nav>li>a:focus
	{
	/*background-color: #6e5a55;
color: #fff;
border-radius: 5px;*/
	
}

.skin-brown .main-header, .skin-brown .main-header .navbar {
	background-color: #fff;
}

.skin-brown .main-header .navbar {
	background-color: #fff;
}

.skin-brown .main-header .logo {
	background-color: #fff;
}

.skin-brown .user-menu .dropdown-toggle {
	background-color: #fff;
}

.skin-brown .navbar-toggle {
	color: #877873;
}

.skin-brown .main-header {
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
}

.skin-brown .pagination>.active>a, .skin-brown .pagination>.active>a:focus,
	.skin-brown .pagination>.active>a:hover, .skin-brown .pagination>.active>span,
	.skin-brown .pagination>.active>span:focus, .skin-brown .pagination>.active>span:hover
	{
	background-color: #877873;
	border-color: #877873;
	color: #fff !important;
}

.skin-brown .navbar-custom-menu .navbar-nav>li>a {
	color: #5e5045 !important;
}

.skin-brown .ui-widget-content .ui-state-active
	{
	border: 1px solid #6e5a55;
	background: #877873 ;
	color: #fff ;
}

/* ***************************** AIUK THEME SKIN BLUE - START ********************/

/*Select2 Dropdown */
.skin-blue .select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #215793 !important;
}

.skin-blue .select2-container--default .select2-results__option[aria-selected=true],
	.skin-blue .select2-container--default .select2-results__option[aria-selected=true]:hover
	{
	color: #fff;
}

.skin-blue .select2-container--default .select2-results__option[aria-selected=true]
	{
	background-color: #215793;
}

.skin-blue .select2-container--default .select2-selection--single,
	.skin-blue .select2-selection .select2-selection--single {
	border-radius: 4px;
}

/*Select2 Dropdown */
.skin-blue select.form-control+.chosen-container .chosen-results li:not(.group-result):hover,
	.skin-blue select.form-control+.chosen-container .chosen-results li.active-result:hover,
	.skin-blue select.form-control+.chosen-container .chosen-results li.highlighted
	{
	color: #FFF;
	text-decoration: none;
	background-color: #215793 !important; /*#428BCA;*/
	background-image: none;
}

.skin-blue .sidebar-menu>li.header {
	font-size: 14px;
	color: #fff;
}

.skin-blue .main-header .logo {
	background-color: #fff;
}

.skin-blue .main-header li.user-header {
	background-color: #215793;
	color: #fff;
}

.skin-blue .main-header .navbar {
	background-color: #877873;
}

.skin-blue .btn-primary {
	background-color: #215793 !important;
	border-color: #3c5e84;
	color: #fff !important
}

.skin-blue .user-menu .dropdown-toggle {
	color: #fff;
}

.skin-blue .custom-link-highlight {
	background-color: rgba(153, 153, 153, 0.05) !important;
	border-bottom: 5px #215793 solid;
	color: #215793 !important;
	border-radius: 6px !important;
}

.skin-blue .navbar-nav .open>a:hover, .skin-blue .navbar-nav .open>a:active,
	.skin-blue .navbar-nav .open>a:focus {
	background-color: rgba(153, 153, 153, 0.42) !important;
	border-bottom: 5px #5d504a solid;
	color: #5e5045 !important;
	border-radius: 3px !important;
}

.skin-blue .user-menu .dropdown-toggle {
	background: #877873;
}

.skin-blue .user-menu .dropdown-toggle {
	color: #fff;
}

.skin-blue .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	border-color: #fff !important;
}

.skin-blue .user-menu .dropdown-toggle {
	background-color: #fff;
	color: #877873;
}

.skin-blue .main-header, .skin-blue .main-header .navbar {
	background-color: #fff;
}

.skin-blue .main-header .navbar {
	background-color: #fff;
}

.skin-blue .main-header .logo {
	background-color: #fff;
}

.skin-blue .user-menu .dropdown-toggle {
	background-color: #fff;
}

.skin-blue .navbar-toggle {
	color: #877873;
}

.skin-blue .main-header {
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
}

.skin-blue .pagination>.active>a, .skin-blue .pagination>.active>a:focus,
	.skin-blue .pagination>.active>a:hover, .skin-blue .pagination>.active>span,
	.skin-blue .pagination>.active>span:focus, .skin-blue .pagination>.active>span:hover
	{
	background-color: #215793;
	border-color: #3c5e84;
}

.skin-blue .navbar-custom-menu .navbar-nav>li>a {
	color: #5e5045 !important;
}

.skin-blue .ui-widget-content .ui-state-active
	{
	border: 1px solid #3c5e84;
	background: #215793 ;
	color: #fff;
}

/* AIUK THEME BLUE - END */

/* For Long droplist values */
ul.chosen-results>li, #linksDiv {
	word-wrap: break-word !important;
	text-overflow: inherit !important;
	white-space: normal !important;
}

/*
.layout-top-nav .content-wrapper {
    margin: 0 auto;
    max-width: 1366px;
}*/
.layout-top-nav .upload-button {
	padding-top: 30px;
}

label {
	font-weight: 600;
}

/* Flicker Issue */
.layout-top-nav .modal, .layout-top-nav .bootstrap-dialog {
	top: 50px;
	z-index: 999 !important;
}

.layout-top-nav .modal-backdrop {
	background-color: transparent !important;
	z-index: 998 !important;
}

.layout-top-nav .bootstrap-dialog .bootstrap-dialog-title {
	color: #666666;
}

.layout-top-nav .bootstrap-dialog.type-danger .modal-header {
	background-color: #fff;
}

/* Calendar Icon - Not sure will work in all browser */
input[type="date"] {
	position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	color: transparent;
	background: none;
	z-index: 1;
}

input[type="date"]:before {
	color: transparent;
	background: none;
	display: block;
	font-family: 'FontAwesome';
	content: '\f073';
	position: absolute;
	right: 10px;
	top: 5px;
	color: #999;
}

/* COMMON */
.user-menu .dropdown-toggle {
	color: #fff;
}

.skin-brown .navbar-nav>.user-menu>.dropdown-menu>.user-body a,
	.skin-brown .navbar-nav>.user-menu>.dropdown-menu>.user-body a:hover,
	.skin-brown .navbar-nav>.user-menu>.dropdown-menu>.user-body a:active,
	.skin-brown .navbar-nav>.user-menu>.dropdown-menu>.user-body  a:focus {
	color: #5b4d42 !important;
}

.skin-brown .menubar navbar>li>a, .skin-brown .menubar navbar>li>a:hover,
	.skin-brown .menubar navbar>li>a:active, .skin-brown .menubar navbar>li>a:focus
	{
	color: #5b4d42 !important;
}

.skin-brown .menubar>li>a, .skin-brown .menubar>li>a:hover, .skin-brown .menubar>li>a:active,
	.skin-brown .menubar>li>a:focus {
	color: #5b4d42 !important;
}

.skin-blue .navbar-nav>.user-menu>.dropdown-menu>.user-body a,
	.skin-blue .navbar-nav>.user-menu>.dropdown-menu>.user-body a:hover,
	.skin-blue .navbar-nav>.user-menu>.dropdown-menu>.user-body a:active,
	.skin-blue .navbar-nav>.user-menu>.dropdown-menu>.user-body a:focus {
    background-color: #215793 !important;
    border-color: #3c5e84;
    color: #fff !important;
}

.skin-blue .menubar navbar>li>a, .skin-blue .menubar navbar>li>a:hover,
	.skin-blue .menubar navbar>li>a:active, .skin-blue .menubar navbar>li>a:focus
	{
	color: #333;
}

.skin-blue .menubar>li>a, .skin-blue .menubar>li>a:hover, .skin-blue .menubar>li>a:active,
	.skin-blue .menubar>li>a:focus {
	color: #333 !important;
}




/*Search Page CSS */
span.twitter-typeahead .tt-dropdown-menu {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion>p {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion>p:hover, span.twitter-typeahead .tt-suggestion>p:focus
	{
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #ffffff;
	background-color: #428bca;
}

span.twitter-typeahead {
	width: 100%;
}

.input-group span.twitter-typeahead {
	display: block !important;
}

.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}

.layout-top-nav .dataTables_wrapper .pagination {
	margin: 0px !important;
	padding-bottom: 5px;
	padding-right: 5px;
	float: right;
}

.layout-top-nav .dataTables_wrapper .dataTables_info {
	float: left !important;
}

.layout-top-nav .dataTables_wrapper .dataTables_filter input {
	width: 250px;
	padding: 7px;
}

.layout-top-nav .dataTable td {
	word-break: break-word;
}

.modal-open {
	padding-right: 0px !important;
	overflow: auto;
}

/*Some OLD*/

/* ONLY WHEN NAVBAR FIXED*/
.layout-top-nav .main-header {
	z-index: 99999 !important;
}

.layout-top-nav .modal-dialog {
	 width: 100%;
}


.layout-top-nav .modal{
	padding-right:0px !important;
}

.layout-top-nav input[type="text"]{
	width :100%;
}

/* MEDIA Queries*/

/* ************************** Desktop ************************** */
input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control,
	input[type=month].form-control {
	line-height: 25px !important;
}

@media ( min-width : 768px) {
}

/* ************************** Mobile ************************** */
@media (max-width: 768px) {
	.navbar-header {
		padding-left: 5px;
		padding-top: 10px;
	}
	.multiLingual {
		padding-top: 10px;
		padding-right: 20px;
	}
	.footer-copyright {
		padding-right: 0px;
	}
	.layout-boxed .main-sidebar {
		top: 25px;
	}
	.sidebar-toggle {
		color: #fff !important;
	}
	.layout-boxed .wrapper .content-wrapper {
		margin: 0px;
	}
	.opco-name {
		width: 200px !important;
	}
	.layout-top-nav .main-header {
		padding-bottom: 5px;
	}
	.layout-top-nav .navbar-header {
		padding: 0px;
	}
	.layout-top-nav .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
		right: -50%;
		top: 60px;
	}
	.layout-top-nav .user-menu .dropdown-toggle {
		padding-top: 20px;
	}
	.layout-top-nav .navbar-toggle {
		padding: 20px 20px 0px 0px;
	}
	.layout-top-nav .multiLingual {
		padding-top: 10px;
		padding-right: 10px;
	}
	.fixed .content-wrapper, .fixed .right-side {
		margin: 60px 0px 0px 0px;
		padding: 0px;
	}
	.dataTables_menu_padding {
		padding-left: 15px !important;
	}
	.layout-top-nav .main-footer {
		max-height: 100px;
	}
	.layout-top-nav .nav-title {
		font-size: 16px;
		background: #fff;
		color: #333;
		margin-top: 30px;
		padding: 0px;
	}
	
  .form-inline .form-control,.form-inline .form-group {
    display: inline-block;
  }
  
  .layout-top-nav .modal-content{
  	margin-right:5%;
  }
}



/*/LHassets/core/latest/img/48x48.png*/

/* ************************** Web PrintPrint ************************** */
@media print {
	
	@page {
		size: A4;
		margin: 0mm;
	}
		
	/* avoid page-breaks inside a listingContainer*/
	.listingContainer {
		page-break-inside: avoid;
	}
	
	.logo-printable{
		display:block !important;
	}
	
	.fixed .content-wrapper {
		margin :0 !important;
	}
	
	.fixed .navbar-brand {
		line-height: 0px !important;
    	padding: 0px !important;
	}
	
	.layout-top-nav .nav-title {
		margin-top: 22px !important;
		padding: 0px !important;
		font-size:18px !important;
	}
	.logo {
		padding:0px;
	}
	
	.layout-top-nav .wrapper {
		margin :10px;
	}
	
	.loadingoverlay {
		display:none;
	}
	.add-audit-print{
		display:block;
	}
	
	body { font-size: 7pt !important;
	}
}

/* BELOW WAS ADDED TO SHOW CONTROL THE SEARCH RESULTS IN AUTOCOMPLETE BOX */
  .ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  
