.like-data-display{
    padding: 22px 0px;
    background: #0072b1;
    color: white;
    text-align: center;
}
.text-msg{
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
.show-comment{
    float: right;
    margin-right: 40px;
    font-size: 20px;
    padding: 0px;
    background: none;
    border: none;
    color: white;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.btn-like{
    margin-left: 12px;
    background: white;
}