<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 like-data-display">
          <span class="text-msg">Is this helpful? If it is, like it:</span> 
          <button type="button" class="btn btn-like">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> LIKE
            </button>
          <button type="button"  class="show-comment">Show Comment</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 col-md-4 col-sm-4">
            <div class="image-block">
                <img src="src/favicon.ico" alt="No image">
            </div>
        </div>
        <div class="col-8 col-md-8 col-sm-8">
            <div class="item-heading">Brick Replacement - Upper zone</div>
            <div class="item-presenter">by Karl Feigner 9/30/2019</div>
        </div>
    </div>
</div>