<div class="row item-list">
    <div class="col-2 col-sm-2 icon-block">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    </div>
    <div class="col-7 col-sm-7">
        <div class="item-block">
            <div class="item-heading">Competency Matrix</div>
            <div class="sub-heading">Provider overall relationship and direction with in the plant</div>
            <div class="option">
                <button type="button" class="btn btn-default">People</button>
                <button type="button" class="btn btn-default">Plant Management</button>                
            </div>
        </div>
    </div>
    <div class="col-3 col-sm-3 right-block">
        <div class="like-block">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <p class="counts">79</p>
        </div>
        <div class="view-block">
            <p>1289</p>
            <p class="view-text">views</p>
        </div>
    </div>
    <div class="col-12 col-xs-12">
        <hr class="border-line">
    </div>
</div>
