.item-list .icon-block i{
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: red;
}
.item-list .right-block .like-block{
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}
.item-list .right-block .like-block i{
    font-size: 38px;
    padding-top: 10px;
    color: #8b8b8b;
}
.item-list .right-block .like-block p{
    padding: 5px;
    margin-bottom: 0px;
    color: #3d3d3d;
    font-weight: 500;
}
.item-list .right-block .view-block{
    display: flex;
    flex-direction: column;
    align-items: center;
        padding-top: 6px;
}

.item-list .right-block .view-block p{
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px;
}
.item-list .right-block .view-block .view-text{
    font-size: 10px;
}

.item-list .item-block .item-heading{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.item-list .item-block .sub-heading{
    font-size: 13px;
    color: #8b8b8b;
    letter-spacing: 0.2px;
}
.item-list .item-block .option{
    padding-top: 8px;
}

.item-list .item-block .option button{
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #3d3d3d;
    margin-right: 2px;
}

.item-list .border-line{
    color: #8b8b8b;
    margin-bottom: 2rem;
}