<h1>Login!</h1>

<div class="container">
<small class= "alert alert-warning" *ngIf='invalidLogin'>Invalid Creds</small>


UserName: <input type="text" name="username" [(ngModel)]="username">
Password: <input type="password" name="password" >
<button (click)="handleClick()" class="btn btn-success">Submit</button>

</div>