<div class="container-fluid card comment-block" >
    <div>
        <div class="comment-section card">
            <div class="row">
                <div class="col-1 col-sm-1 col-md-1">
                    <div class="user-div">
                        <i class="fa fa-user user-profile" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>