<div class="container-fluid card comment-block" >
    <div class="row">


        <div class="col-12 col-sm-12 comment-heading">
            <p class="p1">Comment</p>
            <p class="p2">Leave your thoughts:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-8 col-sm-9 form-group">
            <input id="comment_text" type="text" class="form-control" placeholder="Enter your comment"
                [(ngModel)]="comment_on_doc"  (keyup.enter)="post_comment(content.record.id,comment_on_doc,'Test User')">
        </div>
        <div class="col-md-2 col-4 col-sm-3">

            <form></form>

            <div *ngIf=comment_on_doc>
                <button id="post_btn" type="button" class="btn btn-primary"
                    (click)="post_comment(content.record.id,comment_on_doc,'Test User')"> Post</button>
            </div>

            <div *ngIf=!comment_on_doc>
                <button id="post_btn" type="button" class="btn btn-primary"
                    (click)="post_comment(content.record.id,comment_on_doc,'Test User')" disabled> Post</button>
            </div>
        </div>
    </div>

    <div *ngIf="content">
        <div class="comment-section card" *ngFor="let item of content.comments">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2">
                    <div class="user-div">
                        <i class="fa fa-user user-profile" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-10 col-sm-10 col-md-10 right-section">
                    <p class="para1">{{item.userName}}</p>
                    <p class="para3">{{item.createdOnStr}}</p>
                    <p class="para2">{{item.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</div>